* { 
    text-decoration: none;
    border : 0;
    margin: 0;
    outline : none;
    color: black;
}

html, body {
    background: rgb(224, 224, 224);
    font-family:'나눔고딕';
    font-size:10pt;
}

body {
    height: 100%;
    width: 100vw;

    display: grid;
    grid-template-areas: ". . ." ". content ." ". . .";
    grid-template-columns: 1fr 340px 1fr;
    grid-template-rows: 1fr 9fr 1fr;

    transition: 1s;
}

#login_window {
    grid-area: content;

    display: grid;
    justify-content: stretch;
    grid-template-areas: "." "logo" "form" "menu" "auth" ".";
    grid-template-rows: 1fr 200px 120px 30px 120px 1fr;
    row-gap: 10px;

    border-radius: 10px;
    background: white;
    padding: 30px;

    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

.logo {
    grid-area: logo;
    width: 40%;
    margin: auto;
}

.form {
    grid-area: form;
    display: grid;
    justify-content: stretch;
}

.inputbox {
    margin-bottom: 5px;
    background: rgb(233, 233, 233);
    border: none;
    padding-left: 5px;
    border-radius: 10px;
}

.inputbtn {
    cursor: pointer;
    color: white;
    background: rgb(250, 122, 129);
    border: none;
    border-radius: 10px;
    text-align: center;
}

#url_row {
    grid-area: menu;
    text-align: center;
}

#loginToAuth {
    grid-area: auth;
    text-align: center;
}

/*회원가입*/

#join_window {
    grid-area: content;

    display: none;
    justify-content: stretch;
    grid-template-areas: "." "logo" "form" "return" ".";
    grid-template-rows: 1fr 200px 450px 50px 1fr;
    row-gap: 10px;

    border-radius: 10px;
    background: white;
    padding: 30px;

    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

#join_form {
    grid-area: form;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 40px 140px 40px 1fr;
    justify-content: stretch;
}

#area {
    background: rgb(224, 224, 224);
    width: 100%;
    border-radius: 10px;
    font-family:'나눔고딕';
    font-size:10pt;
    resize: none;
}

span {
    position: relative;
    top: 5px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('/static/image/checkbox_round_unchecked.png');
}

input[type="checkbox"]:checked + label span {
    background-image: url('/static/image/checkbox_round_checked.png');
}

#return_bnt {
    grid-area: return;
}

@media screen and (max-width: 600px) {      /*넓이가 (900px 보다)좁으면*/
    body {
        background: white;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}