body {
    margin: 0;
}

#content {
    height: 100vh;

    display: grid;                          /*grid 적용 공부중*/
    grid-template-areas: "header header header header" ". main side .";
    grid-template-columns: 1fr 600px 300px 1fr;
    grid-template-rows: 60px 1fr;
}

#header {
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr 1fr;

    border-bottom: 1px solid black;
}

#main {
    grid-area: main;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow-y: scroll;
}

#side {
    grid-area: side;
    border-right: 1px solid black;
}

#open_dlg_btn {
    height: 100%;
    justify-self: end;
}

#close_dlg_btn {
    position: fixed;
    height: 30px;
    width: 30px;
}

#write_dlg_background {
    position: fixed;
    height: 100vh;
    width : 100vw;
    display: none;
    place-items: center;
    background-color: rgba(65, 65, 65, 0.5);
    z-index : 1;
}

#write_dlg {
    padding: 5px;
    width : 50%;
    height : 50%;

    cursor : pointer;
    
    border-radius : 10px;
    border : 4px dashed #009578;

    display: grid;
    align-items: stretch;
    justify-items: stretch;
}

#drop_box {
    display: grid;
    place-items: center;
}

#upload_form {
    display: none;
    grid-template-rows: 2fr 1fr 30px;
}

#fileselector {
    display: none;
}

#thumnail {
    display: none;
    width : 90%;
    height : 90%;
    border-radius : 10px;
    background-color: #818181;
}

#lat{
    display: none;
}

#lng {
    display : none;
}

@media screen and (max-width: 900px) {      /*넓이가 (900px 보다)좁으면 사이드바 삭제*/
    #content {
        grid-template-areas: "header header header" ". main .";   
        grid-template-columns: 1fr 600px 1fr;
    }

    #side {
        display: none;
    }
}

@media screen and (max-width: 600px) {      /*넓이가 (600px 보다) 좁으면 main 가로 조절*/
    #content {
        grid-template-areas: "header" "main";   
        grid-template-columns: 1fr;
    }

    #side {
        display: none;
    }

    #write_dlg {
        width : 90%;
        height : 90%;
    }
}
